@model StackOverflowClone.Models.Response

@using (Html.BeginForm("Create", "Responses"))
{
    <label>Title</label>
    @Html.TextBoxFor(model => model.Title)
    <label>Response</label>
    @Html.TextBoxFor(model => model.MainText)

    @Html.HiddenFor(model => model.QuestionId)

    <input type="submit" value="Submit" />
}